.third {
    position: absolute;
    width: 680px;
    height: 190px;
    background-color: white;
    border-radius: 5px;
    margin-left: 260px;
    margin-top: -195px;
}
.photo {
    margin-left: 170px;
    margin-top: 10px;
    }

.myPhoto {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
}

.myGeo {
 padding-right: 15px;
 filter: invert(40%);
}